body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg-error {
  background-color: red;
  color: #fff;
}

.bg-warning {
  background-color: yellow;
  color: #000;
}

.bg-success {
  background-color: green;
  color: #fff;
}

.bg-info {
  background-color: cyan;
  color: #000;
}